
.mt{
    margin-top: 10px;
}
.mb{
    margin-bottom: 10px;
}
.card-image{
    height: 250px;
    width: 250px;
}
.rounded{
    border-radius: 10px;
}
.top-rounded{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}